<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Story App</title>
  </head>

  <body>
    <header>
      <nav-app brandName="Story App"></nav-app>
    </header>

    <main>
      <section class="page">
        <div class="container py-3">
          <h1 class="fs-3 fw-bold">Dashboard</h1>
        </div>
      </section>
      <div class="container">
        <section class="content">
          <h6 class="fs-6">Daftar Cerita Pengguna</h6>
          <div class="row py-2 gy-3" id="listsCardStory"></div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer my-3">
        <span>CopyRight 2023</span>
      </div>
    </footer>
    <div class="modal fade" id="storyDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Detail Story</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <img src="" alt="" class="img-fluid" id="photoStory" />
            </div>
            <h5 class="fs-6 fw-bold m-0" id="nameUserStory"></h5>
            <p class="mb-2" id="createdAtStory" style="font-size: 13px"></p>
            <p id="descriptionStory"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
